@import "partials/normalize";
@import "partials/variables";
@import "compass";

html {
	font-size: 16px;
	font-family: 'Source Sans Pro', serif;
	font-weight: 300;

	@media screen and (max-width: 1450px) {
		font-size: 15px;
	}

	@media screen and (max-width: 950px) {
		font-size: 13.5px;
	}
}

body {
	position: relative;
}

a {
	text-decoration: none;
}

a.btn-primary {
	display: inline-block;
	padding: 10px 15px;
	background-color: $orange;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 400;
	color: white;
	transition: all 0.5s;

	&:hover {
		background-color: $dark-orange;
	}
}

header {
	background-postion: cover cover;
	background-size: cover;
	padding: 0% 6% 2%;
	z-index: -30;

	.logo {
		@media screen and (max-width: 640px) {
			display: none;
		}
	}
	
	a {
		font-size: 1.2rem;
		font-weight: 400;
		color: rgba(white,0.7);
		text-transform: uppercase;
		display: inline-block;
		padding-top: 30px;

		&:hover {
			color: white;
		}
	}

	.links {
		display: inline-block;
		float: right;

		a {
			padding: 30px 15px;
		}

		@media screen and (max-width: 640px) {
			text-align: center;
			display: block;
			float: none;
		}
	}

	.hero-text {
		padding: 15% 20% 23% 20%;
		text-align: center;
		color: rgba(white, 0.9);

		h1 {
			font-size: 5.5rem;
			font-weight: 300;
			margin-bottom: 30px;

			@media screen and (max-width: 1450px) {
				font-size: 4.5rem;
				margin-bottom: 0;
			}

			@media screen and (max-width: 640px) {
				font-size: 2.3rem;
			}
		}

		h2 {
			font-size: 2.3rem;
			font-weight: 200;
			margin-bottom: 75px;

			@media screen and (max-width: 1450px) {
				font-size: 2rem;
				margin-bottom: 30px;
			}

			@media screen and (max-width: 640px) {
				font-size: 1.3rem;
			}
		}
	}
}

.bg-image {
	position: absolute;
	top: 0;
	z-index: -5;
	width: 100%;
	height: 850px;
	background-image: url('../images/arm.jpg');
	background-size:cover;
	background-position: 0 0;
	background-repeat: no-repeat;

	@media screen and (min-width: 1450px) {
			height: 1100px;
	}

	@media screen and (max-width: 918px) {
			height: 700px;
	}

	.white-fade {
		width: 100%;
		height: 7px;
		@include background-image(linear-gradient(rgba(white, 0),  white));
		position: absolute;
		bottom: 0;
	}
}

.hero-pebble {
	width: 28%;
	height: 600px;
	background-image: url('../images/pebble-with-text.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 36%;
	margin-top: -17%;
	position: relative;
	z-index: 0;
	
	@media screen and (max-width: 1450px) {
		height: 450px;
	}

	@media screen and (max-width: 640px) {
		margin-top: 60px;
		width: 60%;
		margin-left: 20%;
	}
	
}

section {
	text-align: center;

	h2 {
		font-size: 2rem;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 70px;
	}

	blockquote {
		padding-left: 2%;
		font-size:1rem;
		font-weight: 300;
	}

	p {
		margin: 0 28%;
		text-align: left;

		span {
			font-family: monospace;
		}

		@media screen and (max-width: 640px) {
			margin: 0 8%;
		}
	}

	pre {
		@extend p;
		text-align: left;
		white-space: pre-wrap;
	}

	.thumbnail a {
		color: rgba(black, 0.90);
		font-weight: 400;
		border-bottom: 1px solid rgba(gray, 0.6);
		text-transform: uppercase;
		font-size: 0.9rem;

		&:hover {
			color: black;
			border-bottom: 1px solid black;
		}
	}

	a.btn-primary {
		margin: 20px 0;
	}
}

.reviews {
	margin-top: 50px;
	padding: 75px 0px;
	background-color: #eee;

	.press-link {
		display: inline-block;
		height: 80px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		opacity: 0.65;
		transition: opacity 0.5s;

		&:hover {
			opacity: 1;
		}

		&:last-child {
			margin-right: 0;
		}

		@media screen and (max-width:640px) {
			display: block;
			width: 50%;
			margin: 13px 25% 0;
		}
	}

	.c-net {
		width: 100px;
		background-image: url('../images/c-net.png');
		margin-right: 25px;
	}

	.pcmag {
		width: 90px;
		margin-right: 11px;
		background-image: url('../images/pcmag.png');
	}

	.appadvice {
		width: 65px;
		background-image: url('../images/appadvice.png');
	}

	.pocketlint {
		width: 200px;
		margin-right: 23px;
		background-image: url('../images/pocketlint.png');
		@media screen and (max-width:640px) {
			width: 70%;
			margin: 13px 15% 0;
		}
	}

	.connectedly {
		width: 270px;
		background-image: url('../images/connectedly.png');
		@media screen and (max-width:640px) {
			width: 80%;
			margin: 13px 10% 0;
		}
	}
}

footer {
	padding: 50px 6%;
	background-color: rgba(black, 1);
	color: rgba(white, 0.45);
	font-size: 1.1rem;

	a {
		color: rgba(white, 0.77);

		&:hover {
			color: rgba(white, 0.9)
		}
	}

	div {
		float: left;
		margin-top: 0;

		h3 {
			font-size: 2.2rem;
			margin: 0;
			font-weight: 300;
		}

		@media screen and (max-width:640px) {
			float: none;
		}
	}

	.links {
		margin-top: 55px;
		float: right;

		a {
			color: rgba(white, 0.77);
			font-weight: 400;
			text-transform: uppercase;
			display: inline-block;
			padding: 5px 15px;
			font-size: 1.2rem;

			&:hover {
				color: white;
			}
		}

		@media screen and (max-width:640px) {
			margin-top: 0px;
			float: none;
		}
	}

	a.image-btn {
		clear: both;
		display: block;
		padding-top: 20px;
		margin: 40px auto;
		width: 150px;
		opacity: 0.65;
		transition: opacity 0.5s;

		&:hover {
			opacity: 1;
		}

		img {
			width: 186px;// 279px;
			height: 50px;// 75px;
		}
	}

	.legal {
		float: none;
		font-size: 0.85rem;
		clear: both;
		text-align: center;

		p {
			width: 100%;
			text-align: center;
			font-weight: 400;
			color: rgba(white, 0.2);

			a {
				color: rgba(white, 0.4);
			}
		}
	}

	@media screen and (max-width:640px) {
		text-align: center;
	}
}

.card-types-row {	
	margin: 60px 20% 0;

	@media screen and (max-width: 1450px) {
		margin: 60px 10% 0;
	}

	@media screen and (max-width: 640px) {
		margin: 60px 0% 0;
	}

	.thumbnail {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		width: 160px;
		height: 360px;
		vertical-align: top;

		i {
			display: block;
			text-align: center;
			font-size:1.95rem;
			margin-top: 23px;
		}
	}
}
